<div style="background-color: #231B3B; padding-bottom: 50px;">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div style="background-color:#231B3B">
    <div class="heading">
      <div style="padding-top:10px;">
        <h1 style="font-family: Georgia, serif;font-size:50px;">FAQs</h1>
        <h3 style="margin-bottom:20px;font-size:25px;">You asked, we answered</h3>
        <a>Need assistance? The team at pferume has compiled answers to some of the most frequently asked questions below. If you can’t find the answer you're looking for, feel free to reach out anytime.</a>
      </div>
    </div>
    <div class="image">
      <a><img src="assets/Chemistry.png"></a>
    </div>
    <div class="heading">
      <h3 style="margin-bottom: 20px; font-size: 25px;">Return Policy</h3>
      <a>you can cancel or return order at anytime within the 15 days of purchase if product found to be different or broken used used product will not be changed or return.</a>
    </div>
    <div class="image">
      <a><img src="assets/Smelling.png"></a>
    </div>
    <div class="heading">
      <h3 style="margin-bottom: 20px; font-size: 25px;">how to register any complaint ?</h3>
      <a>our team is available 24X7 for you complaint or feedback register complaint online on site or just mail us at info@pferume.in</a>
    </div>
    <div class="image">
      <a><img src="assets/Spraying.png"></a>
    </div>
    <div class="heading">
      <h3 style="margin-bottom: 20px; font-size: 25px;">What payment methods do you accept?</h3>
      <a>
        we accept all payment methods offline ( cash on delivery ) and online ( credit cards/ debit cards  and upi as well as internet banking  )
      </a>
    </div>
  </div>
</div>
<div style="background-color: #231B3B; padding-bottom: 30px; padding-top: 30px;">
  <app-footer></app-footer>
</div>
