<div style="background-color: #231B3B; padding-bottom: 50px;">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div>
    <div class="image">
      <a><img src="assets/Spraying.png"></a>
    </div>
  </div>
  <div class="image-text">
    <h1 style="margin-top:-90px;font-size:35px;">There’s so much in store</h1>
    <div>
      <a style="margin-top:80px;font-size:17px;">
        Perfume is a trendsetting Online Perfume Store, offering first-rate products and exceptional customer service to shoppers from all over the world. We’re a business made up of innovators and forward-thinkers, with the drive to constantly update and improve your shopping experience.
      </a>
    </div>
    <div>
      <a style="font-size: 17px;">Our name has become synonymous with quality, sustainability and reliability. We are proud to have produced years of happy customers and look forward to continuing our work for many more to come! Browse our site to explore our extensive selection and subscribe to stay in the know about special offers and discounts!</a>
    </div>
  </div>
  <div style="text-align:center;">
    <button routerLink="/contact" style="height: 40px; width: 120px; background-color: #231B3B;color:white;border-block-color:white;margin-top:30px;">Contact Us</button>
  </div>
  </div>
<div style="background-color: #231B3B; padding-bottom: 20px; padding-top: 10px;">
  <app-footer></app-footer>
</div>
  
