/*.card {
  display: flex;
  align-items: center;
}*/

  img {
    width: 150px;
    height: 140px;
    object-fit: cover;
    margin-right: 10px;
  }

/*.product-details {
  display: flex;
  flex-direction: column;
}

  .product-details h3,
  .product-details p {
    margin: 0;
  }*/
